<!-- about Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">about</h2>
                    <h3 class="section-subheading text-muted">What we do.</h3>
                </div>
            </div>
  
            <p> 
                Mental health is a serious topic which if not taken proper care, can lead to depression or even worse, contemlating or committing suicide. Some symptoms of mental health illnesses include extreme stress, social withdrawl, and irregular changes in eating and sleeping. Connecting with others especailly during COVID-19 is crucial in order to boast your mental and overall health.  
            </p>
                <break><break>
              <p>
                  At least 44 million American adults suffer from a mental health disorder; many more have not been diagnosed. A startling 9 million of those diagnosed with a mental health condition report having an unmet need for care. Mental health is a sensitive issue in general, and particularly in the workplace. This is largely due to the stigma surrounding those who may be dealing with mental health issues.

                    </p>
                    <break><break>
                        <p>
                           It’s important to realize the stigma behind mental health issues so that you can work out a strategy for dealing with it. A stigma is when someone views a person in a negative light because they have a personal characteristic that is perceived as, or actually is, a disadvantage. Unfortunately, negative beliefs and attitudes toward people who have mental health conditions are all too common.
                        </p>
                        <break><break>
                            <p>
                                Stigma very quickly leads to discrimination, which can be a serious problem in the workplace. Discrimination can be blatant and direct, such as someone making a negative comment about another employee’s mental illness. Or it may be subtle or unintentional, such as someone avoiding another employee because they are thought to be dangerous, unstable, or violent because of their mental illness. Sometimes employers or members of the management team may also be judgmental.
                            </p>
                       
            
        </div>
    </section>
