<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Excercises</h2>
                    <h3 class="section-subheading text-muted">Click below to view.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-spotify fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Listen to music</h4>
                    <p class="text-muted">Because of its rhythmic and repetitive aspects, music engages the neocortex of our brain, which calms us and reduces impulsivity. We often utilize music to match or alter our mood..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Meditate</h4>
                    <p class="text-muted">The mental health benefits of meditation include better focus and concentration, improved self-awareness and self-esteem, lower levels of stress and anxiety, and fostering kindness..</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bed fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Get plenty of sleep.</h4>
                    <p class="text-muted">Sleep is as important to our health as eating, drinking and breathing. It allows our bodies to repair themselves and our brains to consolidate our memories and process information..</p>
                </div>
            </div>
            
          
        </div>
    </section>
