<!-- Team Section -->
 <section id="Motivational Quotes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Motivational Quotes</h2>
                    <h3 class="section-subheading text-muted">Read below, You're not alone </h3>
                </div>
            </div>
     
            <p> 
    1)“I’ve missed more than 9,000 shots in my career. I’ve lost almost 300 games. 26 times I’ve been trusted to take the game-winning shot and missed.
             I’ve failed over and over and over again in my life and that is why I succeed.” – Michael Jordan
            <p>    
            </p>
                <break></break>
                    <break></break>
            </p>
            <p>
                2)“If something is important enough, even if the odds are stacked against you, you should still do it.” – Elon Musk
            <p>
                    <break></break>
                    <break></break>
            <p>
                3)“In the middle of every difficulty lies opportunity.” – Albert Einstein
            </p>
            <p>
                    <break></break>
                    <break></break>
            <p>
                4)“Keep your face always toward the sunshine – and shadows will fall behind you.” – Walt Whitman
            </p>
                       
            
        </div>
    </section>
