<!-- Team Section -->
 <section id="Motivational Quotes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Motivational Quotes</h2>
                    <h3 class="section-subheading text-muted">You are alone :) </h3>
                </div>
            </div>
     
            <p> 
    2)“I’ve missed more than 9,000 shots in my career. I’ve lost almost 300 games. 26 times I’ve been trusted to take the game-winning shot and missed.
             I’ve failed over and over and over again in my life and that is why I succeed.” – Michael Jordan
            <p>    
            </p>
                <break></break>
                    <break></break>
            </p>
            <p>
                Type here
            <p>
                    <break></break>
                    <break></break>
            <p>
                Type here
            </p>
            <p>
                    <break></break>
                    <break></break>
            <p>
                Type here
            </p>
                       
            
        </div>
    </section>
